# Entornos virtuales de Python
venv/
.env/
.env/*
.env/*/*
env/
ENV/

# Archivos de entorno
.env.local
.env.development.local
.env.test.local
.env.production.local

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribuciones / instalaciones
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
var/
sdist/
develop-eggs/
.installed.cfg
lib/
lib64/

# Instalaciones de pip
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/